//comment to test push

//mixins

$color-primary: #fff;
$color-primary--dark: #213547;
$color-secondary: hsl(230, 17%, 14%);
$background-color: #c4c4ff;
$undone-bg-color: rgb(212, 127, 255);
$alt-background-color: aquamarine;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

button,
input {
  font-family: inherit;
}

body {
  font-size: 1.6rem;
  font-family: "Syne", sans-serif;
  min-height: 100vh;
  transition: all 0.5s;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.box {
  width: 80%;
  max-width: 40rem;
  text-transform: uppercase;
  padding-block: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  transition: all 0.3s;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.text {
  margin-bottom: 1rem;
  line-height: 3.5rem;
  font-size: clamp(3.5rem, 4vw, 4rem);
}

.mode-text {
  line-height: 4.5rem;
  font-size: 6rem;
  text-align: justify;
}

button {
  background: none;
  width: 80%;
  max-width: 20rem;
  border: 2px solid;
  font-weight: bold;
  padding-block: 1rem;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
  }
}

/* neo brutalist */

.container {
  background-color: $background-color;
}

@keyframes type {
  0%,
  100% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.typewriterWrapper,
.inputFeild {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.typewriterText {
  position: relative;
  margin: 2rem auto;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  border-right: 1px solid white;
  animation: type 2s 0.5s steps(30, end) forwards, blink 0.5s step-end infinite;
}

.title {
  max-width: 40rem;
}

.addItem,
.listItems {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.listContent {
  max-width: 40rem;
}

input {
  min-width: 25rem;
  margin-right: 3rem;
}

ul {
  padding: 1rem;
}

p {
  text-align: center;
}

li,
button,
input,
.container {
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border: 2px solid $background-color;
  box-shadow: $background-color 0.5em 0.5em;
}

.done {
  background-color: $alt-background-color;
  text-decoration: line-through;
}

.undone {
  background-color: $undone-bg-color;
}

.showCongratulations,
.hideCongratulations {
  transform: translateX(0);
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease;

  &.hideCongratulations {
    transform: translateX(100px);
    opacity: 0;
  }
}
